<h1>There were some errors with your data!</h1>

<p>We're really sorry that you've lost your input! Looks like we had no time to do this quite right!</p>

<ul>
  <% @table.errors.each do |key, value| %>
    <li><strong><%= titleize key.to_s %>:</strong> <%= value %></li>
  <% end %>
</ul>


<ul>
  <% @table.results.each do |result|
    result.errors.each do |key, value| %>
      <li><strong><%= titleize key.to_s %>:</strong> <%= value %></li>
    <% end %>
  <% end %>
</ul>


<p>You can <%= al_garete "go back", add_tables_path %> and fix that</p>