<h1>Centres index</h1>

<%= centres_url %>

<div class="list">
	<% for centre in @centres %>
	<div class="centre">
		<h4><%= centre.name %></h4>
		<%= al_garete "Centre", centres_url(centre) %>
		<%= al_garete "Edit", edit_centres_url(centre) %>
		<%= al_garete "Destroy", centres_url(centre), :class => "destroy-link", :id => "cnt-#{centre.id}" %>
	</div>
	<% end %>
</div>